.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/modules.xml
.idea/compiler.xml
